<%- include('partials/header'); -%>

<div>
  <% if (book) { %>
  <h3 class="title is-4">Add Review for <%= book.title %> by <%= book.author %></h3>
  <br>
  <ul>
    <li><img src="/images/<%= book.cover %>" /></li>
    <li><strong>Genre:</strong> <%= book.genre[0] %></li>
    <li><strong>Rating:</strong> <%= book.rating %></li>
  </ul>
  <br>
  <form
    id="addRev"
    action="/add-review/<%= book._id %>"
    method="post"
    onsubmit="reviewSubmitted()"
  >
    <p class="subtitle">Tell us what you thought!</p>
    <br>
    <textarea
      name="content"
      type="text"
      class="textarea is-medium is-focused"
      placeholder="Write your review here"
      rows="10"
    ></textarea>
    <br>
    <button type="submit" id="reviewBtn" class="button is-link is-rounded">
      Submit Review
    </button>
  </form>

  <%} else { %>
  <p>No book found</p>
  <% } %>
</div>

<script>
  function reviewSubmitted() {
    alert("Your review was submitted.");
  }
</script>

<%- include('partials/footer'); -%>
