<%- include('partials/header'); -%>

<div>
  <% if (book) { %>
      <div class="card singleCard">
        <div class="card-header">
          <p class="title is-5"><%= book.title %></p>
          <p class="subtitle is-6"><%= book.author %></p>
        </div>
        
          <div class="book-content">
            <img src="/images/<%= book.cover %>">
            <div>
              <div>
                <strong>Genre: <a href="/genre/<%= book.genre[0] %>"><%= book.genre[0] %><% if (book.genre.length > 1) { %>,</a>
                  <a href="/genre/<%= book.genre[1] %>"><%= book.genre[1] %> <% } %></a></strong>
                <p><strong>Rating:</strong> <%= book.rating %></p>
              </div>
              <p><strong>Description:</strong> <%= book.desc %></p>
              <div class="bookActions">
                <form id="favorites-form">
                  <input type="hidden" name="bookID" value="<%= book.id %>">
                  <input type="hidden" name="bookTitle" value="<%= book.title %>">
                  <button type="submit" class="button is-link is-small is-rounded">Add to Favorites</button>
                </form>
              </div>
            </div>
          </div>
      </div>
  <br>

  <div class="card">
    <p class="title is-5" id="reviewsLabel">Reviews</p>
    <nav class="navbar-divider"></nav>
    <% if (reviews.length > 0) { %>
    <div class="card-content">
      <% reviews.forEach(function(review) { %>
     <p style="margin-bottom: 5px"><%= review.content %></p>
     <strong><p>Posted by: <% if (user.username === review.author.username) { %>You <%} else { %><%= review.author.username %><% } %> on <%= review.postedAt %></p></strong>
      
     <% if (user.username === review.author.username) { %> 
      
      <span id="deleteRevBtn"><a href="/review-delete/<%= book.genre[0] %>/<%= review.book._id %>/<%= review._id %>">Delete</a></span>
      <span id="editBtn"><a href="/review-edit/<%= book.genre[0] %>/<%= review.book._id %>/<%= review._id %>">Edit</a><span>
     
      
      <% } %> 
      <nav class="navbar-divider"></nav>
      <%}); %>
      
    </div>
    <%} %>
    <% if (reviews.length === 0) { %>
    <div class="card-content">
      <p>This book has not been reviewed yet.</p>
    </div>
    <% } %>
  </div>

  <br>
  <button class="button is-primary is-rounded addRevBtn" onClick="location.href='/add-review/<%= book.genre[0] %>/<%= book._id %>'">Add Review</button>

  <%} else { %>
  <p>No book found</p>
  <% } %>
</div>

<script>
  const addReviewBtn = document.getElementsByClassName('addRevBtn')

  function setStyle() {
  if (window.innerWidth < 1023) {
    addReviewBtn[0].style.marginLeft = "60px"

  }
}

setStyle();

window.addEventListener('resize', setStyle);


  const form = document.getElementById('favorites-form');

    form.addEventListener('submit', async function(e) {
      e.preventDefault();

      const bookTitleInput = document.querySelector('input[name="bookTitle"');
      const bookIDInput = document.querySelector('input[name="bookID');

      const bookTitle = bookTitleInput.value;
      const bookID = bookIDInput.value;
        
      const res = await fetch("/favorites", {
        method: "POST",
        body: JSON.stringify({ bookID, bookTitle }),
        headers: { "Content-Type": "application/json" },
      });
      const response = await res.json();
    
      if (response.message) {
        alert(response.message)
      }
    });

</script>

<%- include('partials/footer'); -%>
