<%- include('partials/header'); -%>

<div class="bookcards columns" id="bookCards">
  <div class="column is-full page-title">
    <div class="title">Your Favorites</div>
    <nav class="navbar-divider"></nav>
  </div>
  <% if (favorites.length > 0) { %> <% favorites.forEach(function(favorite){ %>
    <div class="column is-4 cardDiv">
      <div class="card" style="max-width: 325px;">
        <div class="card-header">
          <p class="title is-5"><%= favorite.title %></p>
          <p class="subtitle is-6"><%= favorite.author %></p>
        </div>
    
        <div class="card-image">
          <img src="/images/<%= favorite.cover %>" style="min-width: 325px;"/>
        </div>
        <div class="card-content">
          <p><strong>Genre:</strong> <%= favorite.genre[0] %>, <%=favorite.genre[1] %></p>
          <p><strong>Rating:</strong> <%= favorite.rating %></p>
          <br />
          <div class="bookActions">
            <p><a href="/genre/<%= favorite.genre[0] %>/<%= favorite._id %>">More Info</a></p>
            <form class="favorites-form">
              <input type="hidden" name="bookID" value="<%= favorite.id %>">
              <input type="hidden" name="bookTitle" value="<%= favorite.title %>">
              <button type="submit" class="button is-danger is-small is-rounded">Remove From Favorites</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  <% }); %> <%} else { %>
  <p id="no-favorites">You have no books saved to favorites yet.</p>
  <% } %>
</div>

<script>

const bookCardDiv = document.getElementById('bookCards')
const singleCardDiv = document.querySelectorAll('.cardDiv')

function setClass() {
  if (window.innerWidth < 1023) {
    bookCardDiv.classList.add('is-mobile');
    singleCardDiv.forEach(div => {
      div.classList.remove('column');
      div.classList.remove('is-4');
      div.style.marginBottom = "30px"
    })
  } else {
    bookCardDiv.classList.remove('is-mobile');
    singleCardDiv.forEach(div => {
      div.classList.add('column');
      div.classList.add('is-4');
    })
  }
}

setClass();

window.addEventListener('resize', setClass);

  function generateFormIds(forms) {
    let counter = 1;
    forms.forEach(form => {
      form.setAttribute('id', `form-${counter}`);
      counter++;
    });
  }

  const forms = document.querySelectorAll('form');
  generateFormIds(forms);

  forms.forEach(form => {
    form.addEventListener('submit', async function(e) {
      e.preventDefault();
      const formId = this.getAttribute('id');
      console.log(`${formId} was selected`);

      const bookTitleInput = document.querySelector(`form#${formId} input[name="bookTitle"`);
      const bookIDInput = document.querySelector(`form#${formId} input[name="bookID"`);

      const bookTitle = bookTitleInput.value;
      const bookID = bookIDInput.value;
        
      const res = await fetch("/delete-favorite", {
        method: "POST",
        body: JSON.stringify({ bookID }),
        headers: { "Content-Type": "application/json" },
      });
      const response = await res.json();
    
      if (response.message === "book removed from favorites") {
        alert(`${bookTitle} was removed from favorites`)
        location.assign("/favorites")
      } else {
        alert(`Unable to remove ${bookTitle} from favorites. Please try again later.`)
      }
    });
  });


</script>

<%- include('partials/footer'); -%>
