<%- include('partials/header'); -%>

<div>
  <% if (books) { %>
    <ul>
      <% books.forEach(function(book){ %>
      <p><%= book.genre[0] %> Books</p>
      <li><%= book.title %></li>
      <li><%= book.author %></li>
      <li><img src="/images/<%= book.cover %>"></li>
      <li>Rating: <%= book.rating %></li>
      <li><a href="/genre/<%= book.genre[0] %>/<%= book._id %>">More Info</a></li>
    <% }); %>
  </ul>
  
  <%} else { %>
  <p>No books found</p>
  <% } %>
</div>

<%- include('partials/footer'); -%>
