<%- include('partials/header'); -%>

<div class="reviewDeleteContainer">
  <% if (review) { %>
  <article class="message is-link">
    <div class="message-header">
      <p>Are you sure you want to delete your review for <%= review.book.title %>?</p>
    </div>
    <div class="message-body"><%= review.content %></div>
  </article>

  <form action="/review-delete/<%= review.book.genre[0] %>/<%= review.book._id %>/<%= review._id %>" method="post" onSubmit="reviewdeleted()">
    <div id="deleteRevBtn">
        <button type='submit' class="button  is-danger is-rounded">Delete Review</button>
      </form>
      <span class="button is-rounded"><a href="/genre/<%= review.book.genre[0] %>/<%= review.book._id %>">Cancel</a></span>
    </div>
  <%} else { %>
  <p>No Review found</p>
  <% } %>
</div>

<script>
    function reviewdeleted() {
        alert('Your review was deleted.')
    }
</script>

<%- include('partials/footer'); -%>
