<%- include('partials/header'); -%>

<div>
  <p>Welcome to <%= title %>!</p>
  <h2>Find your next page turner here.</h2>

  <form id="search" action="/search" method="GET">
    <input
      name="search"
      type="text"
      class="input is-medium is-focused is-rounded"
      placeholder="Search title or author"
    />
    <button type="submit" id="searchBtn" class="button is-link is-rounded">
      Find It!
    </button>
  </form>
</div>

<div class="notification is-primary" id="bks">
  <p>
    Come read with us on Wednesdays! Join our bookclub to receive access to our
    discord server.
  </p>
  <span class="button is-light is-link is-rounded"
    ><a href="/join-club">Join Club</a></span
  >
  <div>
    <h3>Book Schedule</h3>
    <ul>
      <li>Nov 2nd - Nov 30th: Gone Girl</li>
      <li>Dec 7th - Jan 4th: Fear and Trembling</li>
      <li>Jan 11th - Feb 1st: The Shining</li>
      <li>Feb 8th - Mar 1st: A Game of Thrones</li>
      <li>Mar 8th - Mar 29th: The Hunger Games</li>
      <li>Apr 5th - Apr 26th: The Devil's Chessboard</li>
      <li>May 3rd - May 24th: May Bird and The Ever After</li>
    </ul>
  </div>
</div>

<div class="message" id="tr">
  <div class="message-header">
    <p>Top Rated</p>
  </div>
  <% if (books) { %> 
    <% books.forEach(function(book){ %>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="<%= book.cover %>" alt="<%= book.title %> img" />
      </figure>
    </div>
    <div class="content">
      <ul>
        <li><%= book.title %></li>
        <li><%= book.author %></li>
        <li>Genre: <%= book.genre[0] %></li>
        <li>Rating: <%= book.rating %></li>
      </ul>
      <br />
      <span
        ><a href="/genre/<%= book.genre[0] %>/<%= book._id %>"
          >More Info</a
        ></span
      >
    </div>
  </div>
  <% }); %> 
  <%} else { %>
  <p>No books found</p>
  <% } %>
</div>

<div class="notification is-warning is-light">
  <h3>Genres</h3>
  <ul>
    <li><a href="/genre/Fiction">Fiction</a></li>
    <li><a href="/genre/Non-Fiction">Non-Fiction</a></li>
    <li><a href="/genre/Horror">Horror</a></li>
    <li><a href="/genre/Psychological-Thriller">Psychological-Thriller</a></li>
    <li><a href="/genre/Fantasy">Fantasy</a></li>
    <li><a href="/genre/Dystopian">Dystopian</a></li>
    <li><a href="/genre/Philosophy">Philosophy</a></li>
  </ul>
</div>

<%- include('partials/footer'); -%>
